@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  text-decoration: none;
}

@font-face{ 
	font-family: 'FFF_Tusj';
	src: url('./components/fonts/FFF_Tusj.ttf');
	src: url('./components/fonts/FFF_Tusj.eot') format('eot'),
	     url('./components/fonts/FFF_Tusj.woff') format('woff'),
	     url('./components/fonts/FFF_Tusj.ttf') format('truetype'),
	     url('./components/fonts/FFF_Tusj.svg#webfont') format('svg');
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  /* color: rgba(255, 162, 0, 0.846); */
  font-style: normal;
  font-family: "Bungee",arial;
  font-size: 1rem;
}

.efestos{
  font-family: "Bungee", sans-serif;
  color: black;
}
.efestosCompra{

  font-family: "Bungee", sans-serif;
  color: red;
  text-shadow: 1px 1px 2px black;
}

h2 { 
  color: grey;
  text-align: center;
  font-size: 3rem;
  font-family: 'FFF_Tusj'; 
  text-shadow: 1px 1px 2px oran;
}
h3{
  font-family: "Bungee", sans-serif;
  text-shadow: 1px 1px 2px orange;

}
.tarjeta img {
  align-self: auto;
  border-radius: 2%;
  height: 25vh;
  margin: 1px;
  width: 30vw;
}
.tarjeta img:hover{
  opacity: 0.5;
}
/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/